<div class="note">
    <h2>Warning</h2>
    <i class="fa-solid fa-triangle-exclamation"></i>
</div>

<div class="main-footer">

    <div class="box1">
        <div class="warning-containe" style="text-align: center;">
            <img src="/uploads/7da385fc-78f9-4673-8adf-ad8e615d8745.gif" alt="Warning GIF"
                style="max-width: 600px; height: auto;" class="big">
            <img src="/uploads/Surviving_the_Scroll__Strategies_to_Beat_Social_Media_Addiction-removebg-preview.png"
                alt="Warning GIF" style="max-width: 100%; height: auto;" class="small">
        </div>
        <p>Yoo! to our educational phishing website. This platform has been created strictly for educational purposes to
            raise awareness about phishing attacks and to teach users how to identify and avoid them. Phishing is a
            serious cyber threat, and understanding how it works is crucial for personal and organizational
            cybersecurity.</p>
    </div>

    <div class="box2">
        <div class="warning-containe" style="text-align: center;">
            <img src="/uploads/7da385fc-78f9-4673-8adf-ad8e615d8745.gif" alt="Warning GIF"
                style="max-width: 600px; height: auto;" class="big">

            <img src="/uploads/WhatsApp_Image_2024-11-04_at_20.47.07_3a6b151a-removebg-preview.png" alt="Warning GIF"
                style="max-width: 100%; height: auto;" class="small">
        </div>
        <p>Yoo! to our educational phishing website. This platform has been created strictly for educational purposes to
            raise awareness about phishing attacks and to teach users how to identify and avoid them. Phishing is a
            serious cyber threat, and understanding how it works is crucial for personal and organizational
            cybersecurity.</p>
    </div>
</div>

<div class="footer-bottom">
    <p>Copyright © Gods Eye 2024. All right reserved.</p>
</div>