<div class="content-inner">
    <div>
        <img src="/path/to/your/image.jpg" alt="Dashboard Image">
        <br>
        <!-- Facebook Link -->
        <a href="/facebook?userId=<%= userId %>">Go to Facebook Page</a>

        
        <!-- Copy URL Button -->
        <button onclick="copyURL()">Copy URL</button>
        <p>Copy this link and share</p>
        
    </div>

    <script>
        function copyURL() {
            const url = window.location.origin + '/facebook?userId=<%= userId %>';
            navigator.clipboard.writeText(url).then(() => {
                alert('URL copied to clipboard!');
            });
        }
    </script>
</div>