<!-- Sidebar -->
<div class="contain-hamburger">
    <div class="hamburger" id="hamburger-menu">
        <i class="fa-solid fa-bars" id="open-menu"></i>
        <i class="fa-solid fa-x" id="close-menu" style="display: none;"></i>
    </div>

    <div class="logo">
        <img src="/uploads/vavicon.png" alt="logo" width="30%">
    </div>
</div>


<div class="menu-container" id="menu-container">
    <div class="menu">
       <a href="/dashboard" class="on active"><i class="fa-solid fa-link"></i>Copy Link</a>
        <a href="/view-victims" class="on"><i class="fa-solid fa-eye-slash"></i>View Victim</a>
        <a href="#" class="on"><i class="fa-solid fa-globe"></i>What We Offer</a>
        <a href="#" class="on"><i class="fa-solid fa-circle-info"></i>How 2 Use</a>
        <a href="#" class="on"><i class="fa-solid fa-phone"></i>Contact Us</a>
        <a href="/" class="on"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        <a href="#" class="on"><i class="fa-solid fa-gamepad"></i>Games</a>
        <a href="https://four-smm.onrender.com/" class="on"><i class="fa-solid fa-rocket"></i>Boost Social Media</a>
    </div>

    <footer>
        <div class="footer-copyright">
            &copy; 2024 Your 🗿PHISH🗿 . All rights reserved.

        </div>
    </footer>
</div>


<!-- Sidebar -->
<aside class="sidebar" id="sidebar">
    <div class="logo">
        <img src="/uploads/vavicon.png" alt="logo" width="50%">
    </div>

    <div class="menu">
        <a href="/dashboard" class="on active"><i class="fa-solid fa-link"></i>Copy Link</a>
        <a href="/view-victims" class="on"><i class="fa-solid fa-eye-slash"></i>View Victim</a>
        <a href="#" class="on"><i class="fa-solid fa-globe"></i>What We Offer</a>
        <a href="#" class="on"><i class="fa-solid fa-circle-info"></i>How 2 Use</a>
        <a href="#" class="on"><i class="fa-solid fa-phone"></i>Contact Us</a>
        <a href="/" class="on"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        <a href="#" class="on"><i class="fa-solid fa-gamepad"></i>Games</a>
        <a href="https://four-smm.onrender.com/" class="on"><i class="fa-solid fa-rocket"></i>Boost Social Media</a>
    </div>

    <footer>
        <div class="footer-copyright">
            &copy; 2024 Your 🗿PHISH🗿 . All rights reserved.
        </div>
    </footer>
</aside>


<!-- Arrow to toggle sidebar -->
<div class="toggle-sidebar" id="toggle-btn">
    <i class="fa-solid fa-angle-left"></i>
</div>