<!-- Sidebar -->
<div class="contain-hamburger">
    <div class="hamburger" id="hamburger-menu">
        <i class="fa-solid fa-bars" id="open-menu"></i>
        <i class="fa-solid fa-x" id="close-menu" style="display: none;"></i>
    </div>
    
    <div class="logo">
        <img src="/uploads/vavicon.png" alt="logo" width="30%">
    </div>
</div>


    <div class="menu-container" id="menu-container">
        <div class="menu">
            <a href="/dashboard" class="on active"><i class="fa-solid fa-wallet"></i>Add funds</a>
            <a href="#" class="on"><i class="fa-solid fa-bullhorn"></i>Updates</a>
            <a href="#" class="on"><i class="fa-solid fa-taxi"></i>Services</a>
            <a href="#" class="on"><i class="fa-solid fa-headset"></i>Place ads</a>
            <a href="#" class="on"><i class="fa-solid fa-phone"></i>Contact us</a>
            <a href="#" class="on"><i class="fa-solid fa-circle-exclamation"></i>Privacy Policy</a>
            <a href="/" class="on"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </div>
    
        <footer>
            <div class="footer-copyright">
                <!-- &copy; 2024 Your 4 ssm. All rights reserved. -->
                YOO to our 🗿PHISH🗿 group! This spot is all about learning how to phish sites live, no scams, just facts.
                We’re here to share the real deal, not 🗿shady stuff🗿. Keep it legit and use what you learn for good.
                Thanks for rollin' with us, let’s get to work!
            </div>
        </footer>
    </div>
    

<!-- Sidebar -->
<aside class="sidebar" id="sidebar">
    <div class="logo">
        <img src="/uploads/vavicon.png" alt="logo" width="50%">
    </div>

    <div class="menu">
        <a href="/dashboard" class="on active"><i class="fa-solid fa-wallet"></i>Add funds</a>
        <a href="#" class="on"><i class="fa-solid fa-bullhorn"></i>Updates</a>
        <a href="#" class="on"><i class="fa-solid fa-taxi"></i>Services</a>
        <a href="#" class="on"><i class="fa-solid fa-headset"></i>Place ads</a>
        <a href="#" class="on"><i class="fa-solid fa-phone"></i>Contact us</a>
        <a href="#" class="on"><i class="fa-solid fa-circle-exclamation"></i>Privacy Policy</a>
        <a href="/" class="on"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
    </div>

    <footer>
        <div class="footer-copyright">
            &copy; 2024 Your 🗿PHISH🗿 . All rights reserved.
        </div>
    </footer>
</aside>


<!-- Arrow to toggle sidebar -->
<div class="toggle-sidebar" id="toggle-btn">
    <i class="fa-solid fa-angle-left"></i>
</div>


