<!-- NAV FOR SMALL SCREEN  -->
<div class="small-sreen-nav">
    <div class="link-container">

        <a href="http://wa.me/+2348059268860" class="on">
            <i class="ri-html5-line"></i>
            <p>Source Code</p>
        </a>

        <a href="/dashboard" class="on active">
            <div class="p">
                <i class="ri-file-copy-fill"></i>
            </div>
            <p class="up">Copy Link</p>
        </a>

        <a href="http://wa.me/+2348059268860" class="on">
            <i class="ri-bookmark-3-fill"></i>
            <p>Hire Us</p>
        </a>


    </div>
</div>



<!-- SIDE BAR FOR SMALL SCREEN  -->
<div class="contain-hamburger">
    <div class="hamburger" id="hamburger-menu">
        <i class="ri-menu-3-line" id="open-menu"></i>
        <i class="ri-menu-2-line" id="close-menu" style="display: none;"></i>
    </div>

    <header class="header">
        <div class="profile-summary">
            <img src="/uploads/profile.jpeg" alt="Profile" class="profile-pic">
            <div>
                <h2><%= user.username %></h2>
                <p><%= user.email %></p>
            </div>
        </div>
    </header>
</div>

<div class="menu-container" id="menu-container">
    <div class="menu">
       <a href="/dashboard" class="on active"><i class="ri-file-copy-line"></i>Copy Link</a>
        <a href="/view-victims" class="on"><i class="ri-crosshair-2-fill"></i> Victim</a>
        <a href="/wallet-view"><i class="ri-wallet-3-line"></i>Wallet Victims</a>
        <a href="#" class="on"><i class="ri-shield-keyhole-line"></i>Shorten ur Link</a>
        <a href="/opay" class="on"><i class="ri-file-paper-2-line"></i>Print Opay Receipt</a>
        <a href="#" class="on"><i class="ri-rocket-2-line"></i>Boost Social Media</a>
        <a href="/how2use" class="on"><i class="ri-vidicon-line"></i>How to Use</a>
        <!-- <a href="http://wa.me/+2348059268860" class="on"><i class="ri-code-s-slash-line"></i>Source Code</a> -->
        <!-- <a href="#" class="on"><i class="ri-briefcase-2-fill"></i>Hire Us</a> -->
        <a href="/login" class="on"><i class="ri-logout-box-line"></i>Logout</a>
    </div>
</div>






<!-- SIDE BAR FOR LARGE SCREEN  -->
<aside class="sidebar" id="sidebar">
    <div class="logo">
        <img src="/uploads/vavicon 2.png" alt="logo" width="60%">
    </div>

    <div class="menu">
        <a href="/dashboard" class="on active"><i class="ri-file-copy-line"></i>Copy Link</a>
        <a href="/view-victims" class="on"><i class="ri-crosshair-2-fill"></i>View Victim</a>
        <a href="/wallet-view"><i class="ri-wallet-3-line"></i>Wallet Victims</a>
        <a href="#" class="on"><i class="ri-shield-keyhole-line"></i>Shorten ur Link</a>
        <a href="/opay" class="on"><i class="ri-file-paper-2-line"></i>Print Opay Receipt</a>
        <a href="#" class="on"><i class="ri-rocket-2-line"></i>Boost Social Media</a>
        <a href="/how2use" class="on"><i class="ri-vidicon-line"></i>How to Use</a>
        <a href="http://wa.me/+2348059268860" class="on"><i class="ri-briefcase-2-fill"></i>Hire Us</a>
        <a href="http://wa.me/+2348059268860" class="on"><i class="ri-code-s-slash-line"></i>Source Code</a>
        <a href="/login" class="on"><i class="ri-logout-box-line"></i>Logout</a>
    </div>
</aside>

<!-- Arrow to toggle sidebar -->
<div class="toggle-sidebar" id="toggle-btn">
    <i class="ri-menu-3-line"></i>
</div>
