<div class="warning-containe" style="text-align: center; margin: 20px;">
    <img src="/uploads/7da385fc-78f9-4673-8adf-ad8e615d8745.gif" alt="Warning GIF" style="max-width: 600px; height: auto;">
</div>
