<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- <canvas id="canvas"></canvas> -->
        


        <div class="form-container">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Register</button>
            </form>
            
            <div class="warning-containe" style="text-align: center; margin: 20px;">
                <img src="/uploads/Ambient animations.gif" alt="Warning GIF" style="max-width: 600px; height: auto;">
            </div>

                <p>Already have an account? <a href="/login">Login</a></p>

        </div>

        
        <!-- WhatsApp Button -->
        <a href="https://chat.whatsapp.com/GlSXvTwmoyVIYxEcbmYA2a" target="_blank" class="whatsapp-btn"
            title="Join our WhatsApp Community">
            <i class="fab fa-whatsapp"></i>
        </a>


    </div>


    <script src='http://neilcarpenter.com/demos/canvas/matrix/stats.min.js'></script>
    <script src="/js/canvas.js"></script>
</body>

</html>