<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="icon" href="/uploads/vavicon 2.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <canvas id="canvas"></canvas>


        <div class="form-container">
            <h1>Sign up</h1>
            <form action="/register" method="POST">
                <input class="name" type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email" required>

                <div class="password-container">
                    <input id="password" type="password" name="password" placeholder="Password" required>
                    <i class="ri-eye-off-line" id="togglePassword"></i>
                </div>
               

                <button type="submit">Sign up</button>
            </form>

            <div class="warning-containe" style="text-align: center; margin: 20px;">
                <img src="/uploads/Internity を Taekook ✓.gif" alt="Warning GIF" style="max-width: 600px; height: auto;">
            </div>

            <p>Already have an account? <a href="/login">sign in</a></p>

        </div>


        <!-- WhatsApp Button -->
        <%- include ('partials/whatsapp-btn.ejs') %>

    </div>


    <script src='http://neilcarpenter.com/demos/canvas/matrix/stats.min.js'></script>
    <script src="https://kit.fontawesome.com/b3fa93e021.js" crossorigin="anonymous"></script>
    <script src="/js/canvas.js"></script>
    <script src="/js/form.js"></script>
</body>

</html>