* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #2B2D2F;
}

.logo img {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #2B2D2F;
    border-right: 1px solid #858484;
    padding: 0 20px;
    transition: width 0.3s ease;
    z-index: 1000;
    overflow: hidden;
}

.contain-hamburger {
    display: none;
}

.menu-container {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu {
    list-style: none;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #858484;
}

.menu a {
    padding: 13px 0;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 15px;
}

.menu a.active {
    border: 1px solid #858484;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu a i {
    font-size: 17px;
}

/* footer  */
footer {
    color: #fff;
    text-align: center;
    margin-top: 13rem;
}

.footer-copyright {
    font-size: 15px;
    margin-top: 15px;
}

/* Sidebar hidden state */
.sidebar.closed {
    transform: translateX(-100%);
}

/* Arrow to toggle sidebar */
.toggle-sidebar {
    position: absolute;
    position: fixed;
    top: 1rem;
    left: 250px;
    padding: 10px 5px;
    border: 1px solid #858484;
    cursor: pointer;
    transition: left 0.3s ease;
}

.toggle-sidebar i {
    color: white;
    font-size: 20px;
}

.container.sidebar-closed .toggle-sidebar {
    left: 20px;
}

.container.sidebar-closed .main-content {
    margin-left: 20px;
}

/* Floating button styling */
.whatsapp-btn {
    position: fixed;
    bottom: 40px;
    right: 25px;
    color: #fff;
    background-color: #3A3B3C;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    box-shadow: 0 0px 10px rgba(210, 209, 209, 0.441);
    cursor: pointer;
    transition: background-color 0.3s ease;
}





/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 10px;
    margin-left: 250px;
    transition: margin-left 0.2s ease;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #858484;
    padding: 10px;
}

.profile-summary {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    margin-left: 2rem;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #858484;
}




/* Account Overall Section */
.section-content {
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-around;
}

.free-offers,
.premium-offers {
    padding: 10px;
    cursor: pointer;
    border: none;
    /* No border by default */
}

.free-offers.active,
.premium-offers.active {
    border: 1px solid #858484;
    /* Border only for the active (open) section */
}

.drop {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #858484;
    align-items: center;
    color: #ccc;

}

.free-offers h1,
.premium-offers h1 {
    padding: 5px 0;
    font-size: 18px;
    color: #ccc;
    display: flex;
}



/* Special Offers Section */










/* MY FOOTER SECTION  */
.note {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ccc;
    gap: 10px;
}

.note h2 {
    font-size: 20px;
}

.note i {
    color: rgb(227, 101, 101);
    font-size: 23px;
}

.main-footer {
    border: 1px solid #858484;
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    padding: 10px;
}

.box1,
.box2 {
    padding: 8px;
    border: 1px solid #858484;
    display: flex;
    flex-direction: column;
    background-color: #3A3B3C;
    gap: 10px;
}

.box1 p,
.box2 p {
    padding-bottom: 1rem;
    color: #ccc;
}


.small {
    display: none;
}


.footer-bottom {
    text-align: center;
    padding: 10px;
    border: 1px solid #858484;
    color: #ccc;
    background-color: #3A3B3C;
    margin-top: 60px;
}








@media (max-width: 800px) {
    .contain-hamburger {
        display: block;
        padding: 0px 20px;
        padding-top: 5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    /* General styles */
    .menu-container {
        position: fixed;
        top: 0;
        left: -100%;
        width: 310px;
        height: 100%;
        background: #2B2D2F;
        border-right: 1px solid #858484;
        transition: left 0.7s ease-in-out;
        z-index: 1000;
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 4rem;
    }

    .menu a {
        margin-bottom: 0px;
        color: #fff;
        font-size: 16px;
    }

    .menu-container footer {
        margin-top: 12rem;
        padding: 10px 5px;
        text-align: center;
    }

    .menu-container.active {
        left: 0;
    }

    .hamburger {
        cursor: pointer;
    }

    .hamburger i {
        font-size: 25px;
        color: #ccc;
    }

    .sidebar {
        display: none;
    }

    /* Arrow to toggle sidebar */
    .toggle-sidebar {
        display: none;
    }

    /* footer  */
    footer {
        color: #fff;
        text-align: center;
        border: 1px solid #858484;
        margin: 5px;
    }

    .footer-copyright {
        font-size: 14px;
        font-weight: 500;
    }


    /* Main Content */
    .main-content {
        margin-left: 0px;
        width: 100%;
        padding-top: 0;

    }

    .profile-summary {
        padding: 0 0;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        margin-left: 0rem;
    }

    .profile-pic {
        width: 50px;
        height: 50px;
    }

    .profile-summary h2 {
        font-weight: 500;
        font-size: 20px;
    }

    .profile-summary p {
        font-size: 15px;
    }


    /* Account Overall Section */
    .section-content {
        padding: 10px 0;
        gap: 0px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .free-offers,
    .premium-offers {
        padding: 7px;
        cursor: pointer;
        border: none;
    }

    .free-offers h1,
    .premium-offers h1 {
        font-size: 16px;
    }

    .exness-img {
        height: 10rem;
    }



    /* Special Offers Section */




    /* MY FOOTER SECTION  */
    .note {
        margin-top: 1rem;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
    }

    .big {
        display: none;
    }

    .small {
        display: block;
    }

    .warning-containe {
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 30px;
    }

    .box1 p,
    .box2 p {
        /* text-align: center; */
    }

    .footer-bottom {
        text-align: center;
        padding: 10px;
        margin-top: 50px;
    }

    /* ABOUT MY FOOTER  */
    .footer-section {
        flex: 100%;
        text-align: center;
    }
}