*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.login-container {
    background: white;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
}

.login-container i{
    font-size: 70px;
    padding: 20px;
    color: #1877F2;
}


h2{
    padding-bottom: 15px;
}


form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #1877F2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #155db2;
}

a {
    color: #1877F2;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    transition: color 0.3s;
}

a:hover {
    color: #155db2;
}

.create-account {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}





@media (max-width: 800px) {
    .login-container {
        background: white;
        padding: 40px 30px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 90%;
        text-align: center;
    }
    

}