* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #2B2D2F;
    color: #fff;
    margin: 0;
    width: 100%;
}

.gods-eye {
    width: 100%;
    text-align: center;
    padding: 10px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    padding-bottom: 0;
}

.back-to-dashboard {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 10px;
    color: #ccc;
    text-decoration: none;
    border: 1px solid #858484;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #858484;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    background-color: #3A3B3C;
}

.details {
    text-align: left;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.details strong {
    font-size: 15px;
    color: #fff;
    display: block;
}

button {
    padding: 5px 30px;
    background-color: #FF4C4C;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

p {
    margin-top: 5px;
    font-weight: lighter;
    font-size: 15px;
    color: #ccc;
}

